html {
    background-color: #2e4051;
    color: #FFFFFF;
}

.robot {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}


.title {
    font-family: "Helvetica", SansSerif;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
}

.typing-indicator {
    background-color: #FFFFFF;
    width: auto;
    border-radius: 10px;
    padding: 20px;
    display: table;
    margin: 0 auto;
    position: relative;
}

.typing-indicator span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}