html {
    background-color: black;
}

.typing-indicator {
    background-color: #FFFFFF;
    width: auto;
    border-radius: 10px;
    padding: 20px;
    display: table;
    margin: 0 auto;
    position: relative;


}
.typing-indicator span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;

    /*@for $i from 1 through 3 {*/
    /*&:nth-of-type(#{$i}) {*/
    /*animation: 1s blink infinite ($i *.3333s);*/
    /*}*/
    /*}*/
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}
